[Unit]
Description=Neopro SD Card Health Check Timer

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
